name: Terraform Security & Validation Pipeline

permissions:
  contents: read

on:
  push:
    branches: ["main"]
    paths:
      - 'environments/dev/aws/**'
      - 'environments/dev/azure/**'
  pull_request:
    branches: ["main"]
    paths:
      - 'environments/dev/aws/**'
      - 'environments/dev/azure/**'

jobs:
  terraform-aws:
    name: Terraform & Checkov Scan - AWS Dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      TF_VAR_vault_addr: ${{ secrets.VAULT_ADDR }}
      TF_VAR_vaultroleid: ${{ secrets.VAULT_ROLE_ID }}
      TF_VAR_vaultsecretid: ${{ secrets.VAULT_SECRET_ID }}
      TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init
        run: terraform init
        working-directory: environments/dev/aws

      - name: Terraform Format Check
        run: terraform fmt -check
        working-directory: environments/dev/aws

      - name: Terraform Validate
        run: terraform validate
        working-directory: environments/dev/aws

      - name: Terraform Plan
        run: terraform plan -no-color
        working-directory: environments/dev/aws

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov Scan
        run: checkov -d environments/dev/aws --download-external-modules true
        continue-on-error: true

  terraform-azure:
    name: Terraform & Checkov Scan - Azure Dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      TF_VAR_vault_addr: ${{ secrets.VAULT_ADDR }}
      TF_VAR_vaultroleid: ${{ secrets.VAULT_ROLE_ID }}
      TF_VAR_vaultsecretid: ${{ secrets.VAULT_SECRET_ID }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init
        run: terraform init
        working-directory: environments/dev/azure

      - name: Terraform Format Check
        run: terraform fmt -check
        working-directory: environments/dev/azure

      - name: Terraform Validate
        run: terraform validate
        working-directory: environments/dev/azure

      - name: Terraform Plan
        run: terraform plan -no-color
        working-directory: environments/dev/azure

      - name: Install Checkov
        run: pip install checkov

      - name: Run Checkov Scan
        run: checkov -d environments/dev/azure --download-external-modules true
        continue-on-error: true
